#product-overview {
    background: linear-gradient(to top, rgba(50, 54, 28, 0.6) 10%, transparent), linear-gradient(rgba(255, 255, 255, 0) 75%, rgb(39, 17, 59)), url(images/background.jpg);
    background-size: cover;
    background-position: left 10% bottom 20%;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}

#product-overview h1 {
    position: relative;
    top: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    color: aliceblue;
    margin-left: 7.5%;
}

#plans {
    background-color: rgba(45,39,42,255);
    width: 100%;
    height: 176vh;
    text-align: center;
}

#plans-section {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(247, 250, 252);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.559);
    font-size: 1.4rem;
}

#recommended {
    background-color: rgba(219, 64, 170, 0.933);
    color: rgba(0, 0, 0, 0.786);
}

.plan {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    background-color: rgba(122, 92, 149, 0.819);
    color: whitesmoke;
    border-radius: 15px;
    padding: 10px;
    margin: 1% auto 1% auto;
    width: 60%;
    height: 26rem;
    vertical-align: middle;
    box-shadow:10px 10px 5px rgba(30, 14, 44, 0.714);
}

#recommended-highlight {
    background-color: rgb(120, 35, 160);
    margin: 3px 3px 3px 3px;
    border-radius: 30px;
    color: whitesmoke;
    box-shadow:3px 3px rgba(0, 0, 0, 0.553);
}

#plan-free, #plan-premium {
    margin-top: 1rem;
}

.plan-price {
    color: rgb(39, 17, 59)
}

.plan-description {
    padding: 10px;
}

.plan-features {
    list-style: none;
    padding-inline-start: unset;
}

.plan-feature {
    padding: 2px;
}

.button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin-top: 10px;
    color: whitesmoke;
    font-weight: 400;
    background-color: rgb(58, 28, 87);
    box-shadow:3px 3px rgba(0, 0, 0, 0.553);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#key-features {
   /* background: linear-gradient(to bottom, rgba(45,39,42,255), 80%, rgb(79, 24, 104));*/
   background: linear-gradient(to bottom, rgb(45, 39, 42), 40%, rgba(57, 4, 110, 0.796)), url(images/galaxy.jpg);
    text-align: center;
}

#key-features-section {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 1.25rem;
    color: rgb(247, 250, 252);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.559);
    font-size: 1.4rem;
}

#key-feature-list {
    list-style: none;
    padding-inline-start: unset;
}

.key-feature {
    margin: 2rem 8rem;
    display: inline-block;
    vertical-align: top;
}

.key-feature-planet {
    background-color: #6a417971;
    background-image: linear-gradient(315deg, #fad0c4c4 0%, #dc90f7 74%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow:7px 7px rgba(0, 0, 0, 0.337);
    margin: auto;
}

.key-feature-image {
    padding: 2.5rem;
}

.key-feature p {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-size: 1.2rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.434);
    margin-top: 1rem;
}

.modal {
    transform: translateY(-300%);
    transition: transform 0.5s;
    position: fixed;
    z-index: 2;
    top: 30%;
    left: 10%;
    width: 80%;
    text-align: center;
    background: linear-gradient(rgba(42, 9, 71, 0.959) 5%, rgb(174, 36, 130));
    background-size: cover;
    box-shadow: rgb(0, 0, 0) 0px 30px 90px;
    border-radius: 15px;
}

.modal-title {
    text-align: center;
    font-size: 1.2rem;
    padding: 1.7rem 1.2rem 1.2rem 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    text-shadow: 1px 1px rgba(95, 95, 95, 0.559);
}

.modal-actions {
    text-align: center;
    padding: 1rem;
}

.modal-action {
    margin: 1rem;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    width: 3.1rem;
    height: 2.25rem;
    padding: 0.3rem;
    border-radius: 5px;
    background-color: rgba(8, 168, 123, 0.848);
}

.modal-action:focus {
    background-color: rgba(10, 98, 73, 0.848);
}

.modal-action-negative {
    border: none;
    background-color: rgba(247, 71, 48, 0.852);
    cursor: pointer;
}

.modal-action-negative:focus {
    background-color: rgba(158, 48, 34, 0.852);
}

.circle-1 {
    transform: translateY(-1000%);
    transition: transform 0.6s;
    width: 5.5rem;
    height: 5.5rem;
    background: linear-gradient(to bottom left, rgba(31, 28, 29, 0.942), 40%, rgba(113, 21, 175, 0.629)), url(images/galaxy.jpg);
    position: fixed;
    z-index: 3;
    border-radius: 50%;
    box-shadow: rgb(0, 0, 0) 0px 30px 90px;
    top: 47%;
    left: 72%;
}

.circle-2 {
    transform: translateY(-1000%);
    transition: transform 0.6s;
    width: 3rem;
    height: 3rem;
    background: linear-gradient(to bottom left, rgba(28, 24, 26, 0.944), 40%, rgba(134, 21, 175, 0.61)), url(images/galaxy.jpg);
    position: fixed;
    z-index: 4;
    border-radius: 50%;
    box-shadow: rgb(0, 0, 0) 0px 30px 90px;
    top: 54%;
    left: 65%;
}

@media (min-width: 25rem) {
    #product-overview h1 {
        font-size: 1.4rem;
    }

    #plans-section {
        font-size: 1.4rem;
    }

    #recommended-highlight {
        margin: 8px 3px 3px 3px;
    }

    .plan {
        margin: 1% auto 1% auto;
    }

    .circle-1 {
        width: 6rem;
        height: 6rem;
        top: 43%;
        left: 80%;
    }
    
    .circle-2 {
        width: 4rem;
        height: 4rem;
        top: 50%;
        left: 73%;
    }
}

@media (min-width: 40rem) {
    #product-overview {
        height: 74vh;
    }

    #product-overview h1 {
        font-size: 2rem;
    }

    #plans-section {
        font-size: 1.5rem;
        padding-top: 1rem;
    }

    .plan {
        max-width: 40%;
        margin: 1% auto 1% auto;
    }

    #plans {
        height: 170vh;
    }

    .modal {
        width: 50%;
        left: 25%;
    }

    .circle-1 {
        width: 6rem;
        height: 6rem;
        top: 43%;
        left: 70%;
    }
    
    .circle-2 {
        width: 3rem;
        height: 3rem;
        top: 51%;
        left: 67.5%;
    }
}

@media (min-width: 60rem) {
    #product-overview {
        height: 74vh;
    }

    #product-overview h1 {
        font-size: 2rem;
    }

    #plans-section {
        font-size: 2rem;
        padding-top: 1.25rem;
    }

    #plan-free, #plan-premium {
        margin-top: 2.9rem;
    }

    #plans {
        height: 74vh;
    }

    .plan {
        display: inline-block;
        max-width: 20%;
        margin: 2%;
    }

    .plan:hover {
        animation: zoom 1s ease forwards;
    }

    #key-features-section {
        font-size: 2rem;
    }
    
    .modal {
        width: 30%;
        top: 30%;
        left: 35%;
    }

    .modal-title {
        font-size: 1.7rem;
    }

    .circle-1 {
        width: 8rem;
        height: 8rem;
        top: 41%;
        left: 60%;
    }
    
    .circle-2 {
        width: 4rem;
        height: 4rem;
        top: 50%;
        left: 58%;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1, 1);
      }
      100% {
        transform: scale(1.1, 1.1);
      }
}